// Sticky Footer solution
body.sticky-footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #page-wrapper {
    flex: 1 0 auto;
  }
}

#footer {
  color: #acb3c2;
  padding: 1rem 1rem 0;
  background-color: #1c1c1c;
  color: white;
  padding: 1rem 0;

  .copyright {
    text-align: center;
  }

  ul {
    margin-left: .8rem;

    li {
      list-style: none;
      margin: 0;
      font-size: 1rem;
    }

    &.social-icons {
      li {
        padding-left: 1rem;
        font-size: 2rem;
      }
    }
  }

  a,
  h2,
  .simlink {
    color: white;
    text-align: center;
  }

  a:hover,
  .simlink:hover {
    text-decoration: underline;
  }

  a,
  .simlink {
    cursor: pointer;
  }
}