{% set columns = page.header.class == 'small' ? 'col-3 col-md-6 col-sm-12' : 'col-4 col-md-6 col-sm-12'  %}
<section class="section modular-demands {{ page.header.class}}">
    <section class="container">
        <div class="content columns">
            <div class="column col-4 col-md-4 col-sm-12">
                <img class="mobile-hide" src="{{ url('theme://images/xr-hourglass-black.svg') }}"/>
            </div>
            <div class="column col-4 col-md-4 col-sm-12">
                {{ content|raw }}
            </div>
            <div class="column col-4 col-md-4 col-sm-12">
                <img class="mobile-hide" src="{{ url('theme://images/xr-hourglass-black.svg') }}"/>
            </div>
        </div>
        <div class="columns demands">
            {% for demand in page.header.demands %}
                <div class="column {{ columns }}">
                    {% if demand.url %}
                        <a href="{{ base_url }}/{{ demand.url }}">
                        {% endif %}
                        <div class="demand-icon {{ demand.class }}">
                            <i class="{{ demand.icon }}" {% if demand.icon_color %} style="color: {{ demand.icon_color }};" {% endif %}></i>
                            {% if demand.header %}
                                <h6>{{ demand.header }}</h6>
                            {% endif %}
                        </div>
                        {% if demand.url %}
                        </a>
                    {% endif %}
                    <div class="demand-content">
                        {% if demand.text %}
                            <p>{{ demand.text }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</section>
