<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet'/>

<section class="section modular-leaflet">
    <section class="container bg-green section-header text-center">
        <h1 class="black-line">{{ page.header.title }}</h1>
    </section>
    <section class="container leaflet bg-darkslategray">
        <div class="columns">
            <div class="column col-sm-12 col-md-6">
                <div id="map"></div>
            </div>
            <div class="column col-sm-12 col-md-6">
                <div class="leaflet-content" id="leaflet_content">
                    {% for chapter in page.header.chapters %}
                        <div id="{{ chapter.id }}" style="display: {{ chapter.id == 'los-angeles' ? 'block' : 'none' }};">
                            <h2>{{ chapter.name }}</h2>
                            <div class="social">
                                {% include "partials/social.html.twig" with {p: chapter} %}
                            </div>
                            <p class="introduction">{{ chapter.introduction }}</p>
                            <h3>Events</h3>
                            <div id="{{ chapter.id }}_events"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>
<style>
    #map {
        height: 100vh;
        width: 100%;
    }
</style>
<script>

    mapboxgl.accessToken = 'pk.eyJ1IjoibWFydmlucm9tYW4iLCJhIjoiY2p6ZHRpOXBzMGtrZTNtbjV2cXEyc3AwcCJ9.FYsd2In1-fzdIqmYOWx0Yg';


    // output page yaml as JSON object
    const chapters = {{ page.header.chapters | json_encode | raw }};
    // colors to cycle through for events
    let bgColors = [
        "bg-lemon",
        "bg-yellow",
        "bg-light-green",
        "bg-pink",
        "bg-angry",
        "bg-red",
        "bg-bright-pink",
        "bg-blue",
        "bg-dark-blue",
        "bg-purple",
        "bg-green",
    ];

    // vanilla JS JSON ajax call
    function getJSON(url, callback) {
        let xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function () {
            let status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
        };
        xhr.send();
    }

    // Time String -> Date
    // Action Network returns a local time string masquerading as a UTC time
    function toDisplayTime(dateStr) {
        const dateComponents = (dateStr.split("T")[0]).split("-")
        const startTime = new Date(+ dateComponents[0], + dateComponents[1] - 1, + dateComponents[2])
        const timeComponents = dateStr.split("T")[1].split(":")
        const hourOf24 = + timeComponents[0]
        const timeSuffix = hourOf24 > 11 ? "pm" : "am"
        const hour = hourOf24 > 12 ? hourOf24 - 12 : (hourOf24 == 0 ? 12 : hourOf24)
        return `${
            startTime.toDateString()
        } ${hour}:${
            timeComponents[1]
        }${timeSuffix}`
    }

    // Rotate colors
    function rotate(arr, shouldRotateBackwards) {
        if (shouldRotateBackwards) {
            arr.unshift(arr.pop())
        } else {
            arr.push(arr.shift())
        }
        return arr
    }

    // Parses chapter JSON and creates HTML in the chapters div
    function showEvents(events) { // loop through the California chapters
        for (chapter in chapters) { // get the div to place this chapters events into
            let container = document.getElementById(chapters[chapter].id + '_events');

            let eventsToShow = events[chapter];

            // if the chapter has no events return "No events."
            if (typeof eventsToShow == "undefined" || eventsToShow.length == 0) {
                container.appendChild(document.createTextNode("No events."));
            } else {
                eventsToShow.sort((a, b) => (+ new Date(a.start_date.split("T")[0])) - (+ new Date(b.start_date.split("T")[0])));

                let elements = eventsToShow.map((event) => {
                    rotate(bgColors);

                    let image = event.featured_image_url ? "<img src=" + event.featured_image_url + " />" : "";
                    return document.createRange().createContextualFragment("<div class=\"event " + bgColors[0] + "\">" + image + "<div class=\"event-body\"><h2>" + event["action_network:sponsor"].title + ":" + event.title + "</h2>When: <em>" + toDisplayTime(event.start_date) + "</em><br/>Where: <em>" + event.location.venue + "</em>" + (
                        (event.location.address_lines || []).join(", ") + ", " + event.location.locality + ", " + event.location.region
                    ) + "<details class=\"details\"><summary><span>Event details</span></summary>" + "<div class=\"description\">" + event.description + "</div><h3>Instructions for participants</h3>" + "<div class=\"instructions\">" + event.instructions + "</div></details></div></div>");
                });
                elements.forEach((element) => container.appendChild(element));
            }
        }
    }

    // display chapter in sidepanel
    function popChapter(e) {
        popup.remove();
        // hide all chapters

        for (chapter in chapters) {
            let hide_chapter_desc = document.getElementById(chapters[chapter].id);
            hide_chapter_desc.style.display = "none";
        }
        // chrome bug
        location.href = "#";
        location.href = "#leaflet_content";
        chapter_desc = document.getElementById(e.features[0].properties.id).style.display = "block";

        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        popup.setLngLat(coordinates).setHTML(description).addTo(map);
    }

    // get JSON for chapter events from XR US
    getJSON('https://chapters.extinctionrebellion.us/events.json', function (err, events) {
        if (err !== null) {
            alert('We failed to fetch events JSON, please try reloading your browser.');
        }
        showEvents(events);
    });

    // initialize map
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [
            -119, 37
        ],
        zoom: 5
    });

    let features = [];
    // loop through chapters from leaflet.md & add markers for chapters to map
    for (chapter in chapters) {
        let introduction = chapters[chapter].introduction == null ? '' : chapters[chapter].introduction;
        features.push({
            "type": "Feature",
            "properties": {
                "title": chapters[chapter].name,
                "description": "<strong style='color:black;'>" + chapters[chapter].name + "</strong><p style='color:black;'>" + introduction + "</p>",
                "icon": "hourglass",
                "id": chapters[chapter].id
            },
            "geometry": {
                "type": "Point",
                "coordinates": [
                    chapters[chapter].lng,
                    chapters[chapter].lat
                ]
            }
        });
    }

    let geoJSON = {
        "id": "places",
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": features
            }
        },
        "layout": {
            "icon-image": "hourglass",
            "icon-size": 0.05,
            "icon-allow-overlap": true
        }
    };
    map.addControl(new mapboxgl.NavigationControl());
    map.scrollZoom.disable();

    map.on('load', function () {
        map.loadImage('/user/themes/xrla/images/xr-hourglass-inner-red.png', function (error, image) {
            if (error) 
                throw error;
            
            map.addImage('hourglass', image);
            map.addLayer(geoJSON);
        });
    });

    // Create a popup, but don't add it to the map yet.
    var popup = new mapboxgl.Popup({closeButton: true, closeOnClick: false});

    map.on('click', 'places', function (e) {
        popChapter(e);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', function (e) {
        map.getCanvas().style.cursor = 'pointer';
        popChapter(e);
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', function (e) {
        map.getCanvas().style.cursor = '';
        popup.remove();
    });
</script>
