{% extends 'partials/base.html.twig' %}

{% set ally_collection = page.collection() %}
{% block body %}
    <section class="section allies {{ page.header.classes }}">
        <h1 class="black-line text-center">{{ page.header.title }}</h1>
        <section class="content">
            {{ page.content|raw }}
        </section>
        <section class="content">
            <ul class="allies">
                {% for ally in ally_collection %}
                    {% include 'partials/ally.html.twig' %}
                {% endfor %}
            </ul>
        </section>
    </section>
{% endblock %}
