{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set blog_image = page.media.images[page.header.hero_image] %}
{% if page.header.show_breadcrumbs is defined %}
    {% set show_breadcrumbs = page.header.show_breadcrumbs %}
{% else %}
    {% set show_breadcrumbs = true %}
{% endif %}
{% if page.header.show_sidebar is defined %}
    {% set show_sidebar = page.header.show_sidebar %}
{% else %}
    {% set show_sidebar = true %}
{% endif %}
{% if page.header.show_pagination is defined %}
    {% set show_pagination = page.header.show_pagination %}
{% else %}
    {% set show_pagination = true %}
{% endif %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
{% endblock %}

{% block hero %}
    {{ dump(page.header.hero_image) }}

    {% if blog_image %}
        {% include 'partials/hero.html.twig' with {id: 'blog-hero', content: '', hero_image: blog_image} %}
    {% endif %}
{% endblock %}

{% block body %}
<section class="section blog-listing" id="body-wrapper">
    <section class="container">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
        <a href="#outerContainer" id="view_pdf" title="View PDF Version"></a>
        <h1 class="black-line inline-block">{{ page.header.title }}</h1>

        {% embed 'partials/layout.html.twig' with {blog: page} %}
            {% block item %}

                {% if ((page.header.bricklayer_layout is not defined) or (page.header.bricklayer_layout)) %}
                    <div class="bricklayer">
                    {% else %}
                        <div>
                        {% endif %}

                        {% set taxname = uri.query('name') %}
                        {% set taxval = uri.query('val') %}

                        {# If taxname set  #}
                        {% if taxname %}
                            {% for child in collection %}
                                {% if (taxval) in child.taxonomy[(taxname)] %}
                                    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {# First list featured  #}
                            {% for child in collection %}
                                {% if "featured" in child.taxonomy['tag'] %}
                                    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                                {% endif %}
                            {% endfor %}
                            {# List all not featured #}
                            {% for child in collection %}
                                {% if "featured" not in child.taxonomy['tag'] %}
                                    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}
        </section>
        <section class="container">
            {{ page.content|raw }}
        </section>
    </section>
    <script>
        {% if ((page.header.bricklayer_layout is not defined) or (page.header.bricklayer_layout)) %}
            var bricklayer = new Bricklayer(document.querySelector('.bricklayer')){% endif %}
    </script>
{% endblock %}
