.reveal.print html {
  background: #ffffff;
  width: auto;
  height: auto;
  overflow: visible;
}

.reveal.print body {
  background: #ffffff;
  font-size: 20pt;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  width: auto;
  height: auto;
  border: 0;
  margin: 0 5%;
  padding: 0;
  overflow: visible;
  float: none !important;
}

.reveal.print .nestedarrow,
.reveal.print .controls,
.reveal.print .fork-reveal,
.reveal.print .share-reveal,
.reveal.print .state-background,
.reveal.print .reveal .progress,
.reveal.print .reveal .backgrounds,
.reveal.print .reveal .slide-number {
  display: none !important;
}

.reveal.print body,
.reveal.print p,
.reveal.print td,
.reveal.print li,
.reveal.print div {
  font-size: 20pt !important;
  color: #000000;
}

.reveal.print h1,
.reveal.print h2,
.reveal.print h3,
.reveal.print h4,
.reveal.print h5,
.reveal.print h6 {
  color: #000000 !important;
  height: auto;
  line-height: normal;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  text-shadow: 0 0 0 #000000 !important;
  letter-spacing: normal;
}

.reveal.print h1 {
  font-size: 28pt !important;
}

.reveal.print h2 {
  font-size: 24pt !important;
}

.reveal.print h3 {
  font-size: 22pt !important;
}

.reveal.print h4 {
  font-size: 22pt !important;
  font-variant: small-caps;
}

.reveal.print h5 {
  font-size: 21pt !important;
}

.reveal.print h6 {
  font-size: 20pt !important;
  font-style: italic;
}

.reveal.print a:link,
.reveal.print a:visited {
  color: #000000 !important;
  font-weight: bold;
  text-decoration: underline;
}

.reveal.print ul,
.reveal.print ol,
.reveal.print div,
.reveal.print p {
  visibility: visible;
  position: static;
  width: auto;
  height: auto;
  display: block;
  overflow: visible;
  margin: 0;
}

.reveal.print .reveal pre,
.reveal.print .reveal table {
  margin-left: 0;
  margin-right: 0;
}

.reveal.print .reveal pre code {
  padding: 20px;
  border: 1px solid #dddddd;
}

.reveal.print .reveal blockquote {
  margin: 20px 0;
}

.reveal.print .reveal .slides {
  position: static !important;
  width: auto !important;
  height: auto !important;
  left: 0 !important;
  top: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  padding: 0 !important;
  zoom: 1 !important;
  overflow: visible !important;
  display: block !important;
  -webkit-perspective: none;
  -ms-perspective: none;
  perspective: none;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.reveal.print .reveal .slides section {
  visibility: visible !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
  display: block !important;
  overflow: visible !important;
  left: 0 !important;
  top: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  padding: 60px 20px !important;
  z-index: auto !important;
  opacity: 1 !important;
  page-break-after: always !important;
  -webkit-transform-style: flat !important;
  transform-style: flat !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.reveal.print .reveal .slides section.stack {
  padding: 0 !important;
}

.reveal.print .reveal section:last-of-type {
  page-break-after: avoid !important;
}

.reveal.print .reveal section .fragment {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.reveal.print .reveal section img {
  display: block;
  margin: 15px 0px;
  background: white;
  border: 1px solid #666;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reveal.print .reveal section small {
  font-size: 0.8em;
}
/*# sourceMappingURL=paper.css.map */